@charset "UTF-8";

body {
    text-align: justify;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: antiquewhite;
    padding: 16px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header li{
    display: inline-block;
}

header li a {
    color: crimson;
    font-family: sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding-left: 16px;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0,auto;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles article {
    flex: 1 1 45%;
    margin-bottom: 16px;
}

.articles article img {
    height: 180px;
    
 
}


h1 {
    font-family: sans-serif;
    color: crimson;
}

section#entretenimento {
    padding: 16px 0;
    background-color: lightyellow;
 
    
}

section#tecnologia {
    padding: 16px 0;
    background-color: #fff3e0;
}


section h2 {
    margin-bottom: 16px;
}

h3 {
    color: crimson;
}

input[type="button"] {
    padding: 2px;
    margin: 5px;
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    background-color:antiquewhite;
    color: crimson;
    font-weight: 700;

}








